.input-container {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  background-color: transparent;
  border: none;
  padding: 0.5rem 0;
  outline: none;
  color: #d5d4d4;
}