* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #454D6A;
}

body, button, a {
  color: #d5d4d4;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login {
  background-color: #343B51;
  border-radius: 5px;
  width: 25rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

button:hover, a:hover {
  filter: brightness(1.1);
}